{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>SlangGlide</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Hi, we’re SlangGlide.</h1>
			<h2>We help you find where slang words started and where they're going!</h2>

			<p>We've all tried to start a new slang term we think is totally fetch, why not find out who deserves the credit? Prove to your smug friends that you were, in fact, the FIRST person to say finna. Show your far away relatives that your hometown is a cultural hub of vernacular! Or just have a great time reading hilarious, awkward, exhilarating, or unexpected origin stories. Sign up to be the first to get updates &amp; follow us on social media.</p>

			<p>Email us now with any inquiries: <a mailto:"mitch@slangglide.com">mitch@slangglide.com</a></p>

			<a href="https://twitter.com/goldensmitch" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/mitch.grove.9" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>